#container {
    display: grid;
    border-style: solid;
}

.container-item {
    background-color: white;
}

#box {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    text-align: center;
    font-family: Chalkduster, Arial, sans-serif;
}
